astropy
astroquery
dash==2.13.0
dash-renderer
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
flask
Flask-Caching
h5py
matplotlib
numpy
pandas
plotly
scipy
werkzeug==2.0.3